<ion-header-bar class="bar-dark">
<a href="#/steg1" class= "button button-icon-ion-android-arrow-back">Back</a>
        <h1 class="title">Kingen of the castle</h1>
      </ion-header-bar>

<ion-content ng-controller ="ListController">

<ion-list>
    <ion-item ng-repeat= "item in data" class= "item-thumbnail-left item-text-wrap" href = "#/steg2/{{item.shortname}}"> 

    <img ng-src="img/{{item.shortname}}_tn.jpg" alt="{{item.name}}">

    <h2>{{item.name}}</h2>
    
    <h3>{{item.reknown}}</h3>
    <h3>{{item.price}}</h3>
    <p>{{item.bio | limitTo:50}}...</p>

    

    </ion-item>
</ion-list>      
        

</ion-content>