<ion-header-bar class="bar-dark">
<a href="#/steg2" class= "button button-icon-ion-android-arrow-back">Back</a>
        <h1 class="title">Kingen of the castle</h1>
      </ion-header-bar>


      <ion-content ng-controller ="ListController">

<h3>{{info.bookking.name}}</h3>
<h3>{{info.bookking.price}}</h3>


<p>Name: {{info.firstname}} {{info.lastname}}</p>
<p>Phone: {{info.phone}}</p>
<p>Mail: {{info.email}}</p>

<p> Checkin: {{info.checkinmonth}} {{info.checkindate}}</p>
        
        <p>Checkout: {{info.checkoutmonth}} {{info.checkoutdate}}</p>
        
        <p>Adult: {{info.adult}}</p>
        <p>Children: {{info.children}}</p>

        <button ng-click="refresh()" ui-sref-opts="{reload: true, inherit: false}" type="submit" class="button button-block button-dark">
          Home</button>







        
</ion-content>